{% extends 'base.html' %}
{% block title %}View{% endblock %}


{% block content %}
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Пользователь</th>
                <th scope="col">Описание</th>
                <th scope="col">Оценка</th>
                <th scope="col">email</th>
                <th scope="col">Изменить</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td><a href="{% url 'accounts:profile' review.author.pk %}">{{ review.author.username }}</a></td>
                <td>{{ review.description }}</td>
                <td>{{ review.grade }}</td>
                <td>{{ review.author.email }}</td>
                <td><a href="{% url 'webapp:review_check' review.pk %}"><i class="fa-solid fa-pen"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}