{% extends 'base.html' %}
{% block title %}Продукты{% endblock %}

{% block nav %}
    {% if perms.webapp.add_product %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:product_create' %}">Добавить продукт</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-5">
{% for product in products %}
    <div class="card">
        <div class="card-body">
            <a href="{% url 'webapp:product_view' product.pk %}" class=""><h5 class="card-title">{{ product.name }}</h5></a>
            <p class="card-text">{{ product.get_category_display }}</p>
            {% if perms.webapp.delete_product %}
                <a class="btn btn-secondary" href="{% url 'webapp:product_delete' product.pk %}">Удалить</a>
            {% endif %}
            {% if perms.webapp.change_product %}
                <a class="btn btn-secondary" href="{% url 'webapp:product_update' product.pk %}">Редактировать</a>
            {% endif %}
        </div>
        <div class="card-footer">
            <p class="card-text">Цена: {{ product.price }}</p>
        </div>
    </div>
    </div>
{% endfor %}
{% endblock %}