{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ user_obj.username }}</h5>
                <p class="card-text">{{ user_obj.email }}</p>
                <p class="card-text">{{ user_obj.last_name }}</p>
                <p class="card-text">{{ user_obj.first_name }}</p>
        </div>
    </div>

            <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Товар</th>
      <th scope="col">Ваш отзыв</th>
      <th scope="col">Оценка</th>
        <th scope="col">Удалить</th>
        <th scope="col">Изменить</th>
    </tr>
  </thead>
  <tbody>
      {% for review in user_obj.reviews.all %}
          {% if review.check_moderated == True %}
    <tr>
      <td><a href="{% url 'webapp:product_view' review.product.pk %}">{{ review.product.name }}</a></td>
      <td>{{ review.description }}</td>
      <td>{{ review.grade }}</td>
        {% if request.user == review.author %}
    <td><a href="{% url 'webapp:review_delete' review.pk %}"><i class="fa-solid fa-trash"></i></a></td>
    <td><a href="{% url 'webapp:review_update' review.pk %}"><i class="fa-solid fa-pen"></i></a></td>
            {% endif %}
    </tr>
          {% endif %}
      {% endfor %}
  </tbody>
</table>
{% endblock content %}