{% extends 'base.html' %}
{% block title %}Редактировать пользователя{% endblock %}
{% block nav %}
    {% if request.user == user_obj %}
    <li class="nav-item">
        <a href="{% url "accounts:profile" user_obj.pk %}" class="nav-link">Назад</a>
    </li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Поменять личные данные</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/form.html' with button_text='Изменить' %}
        <br>
{#        <input type="submit" value="Submit">#}
    </form>
{% endblock %}